.services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: white;
  color: #0f4580;
  padding: 2rem 1rem;
  margin: -10rem auto 0 auto; /* Center horizontally */
  position: relative;
  z-index: 10;
  border-radius: 0px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 60%; /* Only take 60% of page width */
  flex-wrap: wrap; /* Helps if you have more than 3 cards */
}


.service-card {
  text-align: center;
  padding: 1.5rem;
  border-radius: 15px;
  width: 150px;
  transition: 0.3s;
  background: #f9f9f9; /* Optional for contrast */
}


.service-card .icon {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #5b738a;
}

.service-card.active {
  background: #2888f6;
  color: white;
  transform: translateY(-10px);
}

.service-card.active .icon {
  color: white; /* icon becomes white when card is active */
}
